@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.wel_{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    position: absolute; 
}
.contenido{
    text-align: end;
    position: relative;
    font-family: 'Comfortaa', cursive; 
    letter-spacing: 6px;
    font-size: 2vw;
    padding-top: 20%;
    padding-right: 5%;
    padding-left: 30%;
    padding-bottom: 17%
}