@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.footercard_{  
    font-family: 'Comfortaa', cursive;
    font-size: 1vw;
    background-color: #0D4F7A;
    
}
.foot{
    height: 50px;
    margin-right: 2%;
    
}

