@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.backhome{
    background-color: #607D8B;
    background-size: 100%;   
      
}

.contenido_{
    
    width: 75%;
    font-family: 'Comfortaa', cursive; 
    position: relative;
    top: 25%;
    left: 15%;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 43px 11px rgba(0,0,0,0.83);
    -moz-box-shadow: 10px 10px 43px 11px rgba(0,0,0,0.83);
    box-shadow: 10px 10px 43px 11px rgba(0,0,0,0.83);
}
.foont_{
    font-size: 20px;
    font-size: 4vw;

}

