@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.cont{   
    padding-top: 15%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-family: 'Comfortaa', cursive;  
  }
    
    

.back{
    background-image: url('../images/backregis.jpg');
    background-size: 200%;
    background-attachment: fixed;
    padding-bottom: 15%;
    
}
.title{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 5vw
    
}

.btn{
    position: relative;
}